* {
	margin: 0;
	padding 0;
}

.wrapper {
	width: 480px;
	height: 520px;
	position: relative;
	margin: 50px auto;
	overflow: hidden;
}

table {
	width: 500px;
	height: 540px;
	border-collapse: collapse;
	position: absolute;
	left: -10px;
	top: -10px;
}

tr, td {
	border: 10px solid black;
}



tr td:first-child {
	width: 44px;
	border-left: 0;
}

		tr td:nth-child(2) {
			width: 55px;
		}

		tr td:nth-child(3) {
			width: 55px;
		}

		tr td:nth-child(4) {
			width: 122px;
		}

		tr td:nth-child(5) {
			width: 71px;
		}
		
		tr td:last-child {
			width: 71px;
			border-right: 0;
		}

tr:first-child td {
	border-top: 0;
	height: 42px;
}

		tr:nth-child(2) {
			height: 137px;
		}

		tr:nth-child(3) {
			height: 137px;
		}

		tr:nth-child(4) {
			height: 67px;
		}

		tr:nth-child(5) {
			height: 65px;
		}

		tr:nth-child(6) {
			height: 35px;
		}

		tr:last-child td {
			border-bottom: 0;
			height: 23px;
		}

.item_3_5 {
	width: 71px;
}

.yellow {
	background-color: #ffee59;
}		

.orange {
	background-color: #ff5b2d;
}

.black {
	background-color: #202d28;
}

.blue {
	background-color: #0e4d89;
}