* {
	margin: 0;
	padding 0;
}

.wrapper {
	width: 480px;
	height: 520px;
	margin: 50px auto;
	display: grid;
	grid-template-columns: [one] 1fr [two] 1fr [three] 1fr [four] 2fr [five] 1.5fr [six] 1.5fr [seven];
	grid-template-rows: [one] 1fr [two] 2fr [three] 2fr [four] 1fr [five] 1fr [six] 0.5fr [seven] 0.5fr [eight];
}

.border {
	border: 5px solid black; 
}

.left-border {
	border-left: 0;
}

.right-border {
	border-right: 0;
}

.top-border {
	border-top: 0;
}

.bottom-border {
	border-bottom: 0;
}

.yellow1,
.yellow2,
.yellow3 {
	background-color: #ffee59;
}

.orange {
	background-color: #ff5b2d;
}

.gray1,
.gray2,
.gray3,
.gray4,
.gray5 {
	background-color: #202d28;
}

.blue {
	background-color: #0e4d89;
}

.white1 {
	grid-column: one/three;
	grid-row: one/two;
}

.white2 {
	grid-column: three/five;
	grid-row: one/two;
}

.white3 {
	grid-column: one/two;
	grid-row: two/three;
}

.white4 {
	grid-column: one/two;
	grid-row: three/five;
}

.white5 {
	grid-column: five/six;
	grid-row: three/four;
}

.white6 {
	grid-column: six/seven;
	grid-row: three/four;
}

.white7 {
	grid-column: four/five;
	grid-row: four/five;
}

.white8 {
	grid-column: five/seven;
	grid-row: four/five;
}

.white9 {
	grid-column: four/five;
	grid-row: five/six;
}

.white10 {
	grid-column: two/four;
	grid-row: six/eight;
}

.white11 {
	grid-column: four/seven;
	grid-row: seven/eight;
}

.yellow1 {
	grid-column: five/seven;
	grid-row: one/two;
}

.yellow2 {
	grid-column: five/seven;
	grid-row: two/three;
}

.yellow3 {
	grid-column: one/two;
	grid-row: five/eight;
}

.orange {
	grid-column: two/five;
	grid-row: two/four;
}

.gray1 {
	grid-column: two/three;
	grid-row: four/five;
}

.gray2 {
	grid-column: three/four;
	grid-row: four/five;
}

.gray3 {
	grid-column: two/three;
	grid-row: five/six;
}

.gray4 {
	grid-column: three/four;
	grid-row: five/six;
}

.gray5 {
	grid-column: four/five;
	grid-row: six/seven;
}

.blue {
	grid-column: five/seven;
	grid-row: five/seven;
}

